/* nav, header */
.site-header {
    background-color: #2F4B5C;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2F4B5C;
}

.main-nav a {
    color: #FCFCFC;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

