@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    margin: 0px;
    background-color: #FFF0DD;
    font-family: "Inter", sans-serif;
}

/* nav, header */
.site-header {
    background-color: #2F4B5C;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin: 0px;
    background-color: #2F4B5C;
}

.nav-logo a {
    font-family: "Instrument Serif", serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #FCFCFC;
    text-decoration: none;
    margin-left: 30px;
}

.nav-center {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.main-nav a {
    color: #FCFCFC;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-btn-lang select {
    font-family: "Inter", sans-serif;
    background-color: #2F4B5C;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 4px 6px;
    cursor: pointer;
    margin-right: 50px;
}

    /*elemento pai: main*/ 
main { 
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    padding: 25px;
} 

    /*section: área do bingo*/ 
.bingo-area { 
    background-color: white;
    width: 580px;
    height: 600px;
    margin-right: -100px;    
}

.bingo-title {
    color: #707070;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border: 2px solid #3d3d3d;
    margin-left: 25px;
    margin-right: 25px;
}

.bingo-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
    border-top: 8px solid #FFF0DD;
    background-color: #FFF0DD;
    color: #2F4B5C;
    
}

button {
    background-color: #2F4B5C;
    color: white;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

    /*aside: painel de configurações*/ 
.settings-panel { 
    background-color: white;
    margin-left: -100px;
    accent-color: #2F4B5C;
    padding-top: 8px;
}

.settings-form-options {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-left: 5px;
}

.bingo-title-input {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    border: 2px solid #CCCCCC;
    outline: none;
    padding: 4px 5px;
    margin-left: 5px;
    margin-top: -4px;
}

.grid-size-input {
    background: #2F4B5C;
    cursor: pointer;
}

.grid-color-input {
    margin-right: 4px;
    background-color: white;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: -4px;
}

.bg-color-input {
    margin-right: 4px;
    background-color: white;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: -4px;
}

.font-color-input {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: -4px;
}

.settings-form-options select {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #CCCCCC;
    outline: none;
    padding: 2px 3px;
    cursor: pointer;
    margin-top: -4px;
}

.sticker-input {
    display: none;
}

.custom-file-label {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: #2F4B5C;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    margin-left: -7px;
    margin-top: -4px;
}

.btn-reset {
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 150px;
}

.bingo-grid {
    width: 100%;
    max-width: 530px;
    max-height: 530px;
    display: grid;
    margin: 10px auto;
}

.bingo-cell {
    border: 2px solid #3d3d3d;
    background-color: transparent;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: text;
    word-break: break-word;
    overflow: hidden;
}